body {
  margin: 0;
  background: #7ac5be;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.icecream {
  background-color: #ea568d;
  width: 170px;
  height: 170px;
  border-radius: 100%;
  position: relative;
}
.icecream::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 0px;
  height: 30px;
  background: #ea568d;
  width: 170px;
  border-radius: 100%;
  z-index: 2;
}
.cone {
  margin-top: -20px;
  height: 0px;
  width: 0px;
  border-right: 65px solid transparent;
  border-left: 65px solid transparent;
  border-top: 140px solid tan;
  z-index: 1;
}


.dot{
    z-index:2;
    /* margin-top: -50px; */
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #d42354;
}
.one{
    margin-left: 62px;
    margin-top: 10px;
}
.two{
   
    margin-left: 95px;
    margin-top: 18px;

}
.three{
    margin-left: 31px;
}
.four{
    margin-left: 63px;
}
.five{
    margin-left: 123px;
    margin-top: 20px;
}
